
.faixas{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 20px;
}

.music {
    display: flex;
    transition: 0.3s;
}
.music:hover{
    scale: 1.1;
    transition: 0.3s;
}
.linkmusica {
    text-decoration: none;
    color: black;
}
.linkmusica:hover {
    text-decoration: underline;
    color: white;
}