.pets{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 100px;
}
.pet{
    margin-top: 30px;
    font-family: 'umeko plum';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pet img{
    border-radius: 20px;
}
.aboutpet{
    margin-top: 20px;
    font-size: 20px;
}
.nomepet{
    display: flex;
    justify-content: center;
}
.sara{
    height: 100%;
    background-color: #FF087F;
    color: white;
    border-radius: 15px;
    padding: 40px;
}
.pitoco{
    height: 100%;
    background-color: #4169e1;
    color: white;
    border-radius: 15px;
    padding: 40px;
}
.rodrigo{
    height: 100%;
    background-color: #b90f0f;
    color: white;
    border-radius: 15px;
    padding: 40px;
}
@media  screen and (max-width: 768px) {
    .nomepet{
        right: 0px;
    }
    .pet > img{
        width: 300px;
    }
}