@font-face {
    font-family: 'Blackfang';
    src: url('../fonts//blackfang/Blackfang.otf');
}
@font-face {
    font-family: 'Umeko Plum';
    src: url('../fonts/umeko_plum/Umeko\ Plum.otf');
}
:root{
    --cor-dourada: #ffd900;
    --cor-dourada-opacity: #ebc90b;
}
body{
    padding: 0;
    margin: 0;
    background-color: black;
    color:  gold;
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track{
    background-color: rgb(224, 224, 224);
}
::-webkit-scrollbar-thumb{
    background-color: var(--cor-dourada);
    transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--cor-dourada-opacity);
    
    transition: 0.3s;
}
::selection{
    background-color: rgb(0, 0, 0);
    color: white;
}
.navbar{
   background-color: rgb(0, 0, 0);
   display: flex;
   justify-content: space-between;
   padding: 16px;
   border-bottom: solid 2px white;
}
.nome-site{
    color: white;
    padding: 16px;
    font-family: 'Blackfang';
    font-size: 20px;
}
.nav-items{
    display: flex;
    color: black;
    font-family: 'Umeko Plum';
    text-decoration: none;
    list-style-type: none;
    gap: 20px;
}
.nav-items a{
    text-decoration: none;
    color: white;

}
.nav-items li{
    transition: 0.3s;
}
.nav-items li:hover{
    transform: translateY(-5px);
    scale: 1.1;
    transition: 0.3s;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
}
.titulo{
    margin-left: 20px;
    font-size: 25px;
    font-family: 'Umeko Plum';
}
.text {
    display: flex;
    background-color: var(--cor-dourada);
    align-items: center;
    width: 100%;
    padding: 50px;
    height: 100%;
    border-radius: 15px;
    position: relative;
}
.content{
    display: flex;
    justify-content: center;
    font-family: 'Umeko plum';
    font-size: 20px;
    width: 100%;
    color: rgb(0, 0, 0);
}