.faixas{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 20px;
}

.music {
    display: flex;
    transition: 0.3s;
    border-radius: 14px;
}
.music:hover{
    scale: 1.1;
    box-shadow: 0 0 10px rgb(71, 71, 71);
    transition: 0.3s;
}
.linkmusica {
    text-decoration: none;
    color: black;
}
.linkmusica:hover {
    text-decoration: underline;
    color: white;
}
.album{
    max-width: 800px;
    margin: 0 auto ;
    width: 100%;
}
.capa{
    border-radius: 12px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.album-music > .text{
    width: auto;
}
.album-music > .titulo{
    text-align: center
}