@font-face {
    font-family: 'Blackfang';
    src: url('../fonts//blackfang/Blackfang.otf');
}
@font-face {
    font-family: 'Umeko Plum';
    src: url('../fonts/umeko_plum/Umeko\ Plum.otf');
}
:root{
    --cor-dourada: #ffd900;
    --cor-dourada-opacity: #ebc90b;
}
body{
    padding: 0;
    margin: 0;
    background-color: black;
    color:  var(--cor-dourada);
    cursor: url("../imgs/cursor-32.png") 0 0, auto;
}
button, li, a{
    cursor: url("../imgs/cursor-click-32.png") 0 0, auto;
}
img {
    /* impede o user de poder arrastar a imagem por ai */
    -webkit-user-drag: none;
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track{
    background-color: rgb(224, 224, 224);
}
::-webkit-scrollbar-thumb{
    background-color: var(--cor-dourada);
    transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--cor-dourada-opacity);
    
    transition: 0.3s;
}
::selection{
    background-color: rgb(0, 0, 0);
    color: var(--cor-dourada);
}
.navbar{
   background-color: rgb(0, 0, 0);
   display: flex;
   justify-content: space-between;
   padding: 16px;
   border-bottom: solid 2px white;
}
.nome-site{
    color: white;
    padding: 16px;
    font-family: 'Blackfang';
    font-size: 20px;
}
.nav-items{
    display: flex;
    color: black;
    font-family: 'Umeko Plum';
    text-decoration: none;
    list-style-type: none;
    gap: 20px;
}
.nav-items a{
    text-decoration: none;
    color: var(--cor-dourada);

}
.nav-items li{
    transition: 0.3s;
}
.nav-items li:hover{
    transform: translateY(-5px);
    scale: 1.1;
    transition: 0.3s;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
}
.titulo{
    margin-left: 20px;
    font-size: 25px;
    font-family: 'Umeko Plum';
}
.text {
    display: flex;
    background-color: var(--cor-dourada);
    align-items: center;
    text-align: justify;
    width: 100%;
    padding: 50px;
    height: 100%;
    border-radius: 15px;
    position: relative;
}
.content{
    display: flex;
    justify-content: center;
    font-family: 'Umeko plum';
    font-size: 20px;
    width: 100%;
    color: rgb(0, 0, 0);
}
.navbar-mobile{
    display: none;
    flex-direction: column;
    font-family: "Umeko Plum";
}
.navbar-mobile ul{
    display: none;
    flex-direction: column;
    gap: 5px;
    height: 200px;
}
.navbar-mobile ul li{
    list-style-type: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    background-color: var(--cor-dourada);
    transition: 0.3s;
}
.navbar-mobile ul li a{
    text-decoration: none;
    color: black;   
}
.navbar-mobile ul li:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

#navbar-toggle{
    font-size: 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
#navbar-toggle:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}
.navbar-mobile.active ul{
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 768px) {
    .nav-items{
        display: none;
    }
    .navbar-mobile{
        display: flex;
        padding: 16px;
    }
    .text{
        text-align: center;
        width: auto;
        padding: 20px 16px;
    }
    .main{
        padding: 20px 16px;
    }
}