.faixas{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 20px;
}

.music {
    display: flex;
    transition: 0.3s;
    border-radius: 14px;
}
.music:hover{
    scale: 1.1;
    box-shadow: 0 0 5px rgb(215, 215, 215);
    transition: 0.3s;
}
.linkmusica {
    text-decoration: none;
    color: black;
}
.linkmusica:hover {
    text-decoration: underline;
    color: white;
}
.album{
    max-width: 800px;
    margin: 0 auto ;
    width: 100%;
}
.capa{
    border-radius: 12px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.album-music{
    width: 100%;
}
.album-music > .text{
    width: auto;
}
.album-music > .titulo{
    text-align: center
}
.sections{
    display: flex;
    gap: 10px;
}
.sections li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 100px;
    width: 100%;
    border-radius: 5px;
    list-style-type: none;
    background-color: var(--cor-dourada);
    transition: 0.3s;
}
.sections li:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.sections a{
    text-decoration: none;
    color: black;
    font-family: 'blackfang';
    font-size: 20px;
}
.instagram{
    text-decoration: none;
    color: black;
}
.instagram:hover{
    color: white;
    text-decoration: underline;
}
.playlist > .text{
    width: auto;
}
.playlist > .titulo{
    text-align: center;
}
@media screen and (max-width: 768px){
    .sections{
        flex-wrap: wrap;
    }
    .sections li{
        width: 100%;
    }
    .text{
        max-width: 800px;
    }
}
