.pets{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 100px;
}
.pet{
    margin-top: 30px;
    font-family: 'umeko plum';
}
.pet img{
    width: 200px;
    border-radius: 20px;
}
.aboutpet{
    margin-top: 20px;
    font-size: 20px;
}
.nomepet{
    position: relative;
    right: 50px;
}
.sara{
    height: 100%;
    background-color: #FF087F;
    color: white;
    border-radius: 15px;
    padding: 16px;
}
.pitoco{
    height: 100%;
    background-color: #4169e1;
    color: white;
    border-radius: 15px;
    padding: 16px;
}
.rodrigo{
    height: 100%;
    background-color: #b90f0f;
    color: white;
    border-radius: 15px;
    padding: 16px;
}